@media only screen and (max-width:1199px) {
 .deal-post .img-holder img {
width:100%;
}
 .deal-post {
margin-bottom:20px;
}
 .deal-description strong {
 display:block;
 margin-bottom:10px;
}
 .main .nav li a {
 font-size:12px;
 line-height:15px;
}
 .form-text strong {
font-size:24px;
}
 .form-text span {
font-size:20px;
}
 .search-form .input-date .date {
 width:165px;
 margin:0 0 0 5px;
}
.currency-wrapper div { width: 200px !important;}
}

@media only screen and (max-width:992px) {
 .cost {
float:left;
}
 .header .nav li a {font-size:12px;padding: 28px 10px;}
 .featured {
margin-bottom:50px;
}
 .sidebar {
 padding-top:20px;
 min-height:150px;
}
 .search-form .input-date .date {
 width:100%;
 margin:0 0 10px;
}
}
@media only screen and (max-width:767px) {  
.header .nav li {
border-right:0;
}
 .header .nav li:first-child {
border-left:0
}
 .deal-post {
margin-bottom:15px;
}
 .deal-post .img-holder img {
width:100%;
}
 .form {
padding:40px 50px 91px 10px;
}
 .search-form .input-date span {
 display:block;
 margin:0 0 10px;
}
 .search-form .input-date .date {
 width:100%;
 margin:0 0 10px;
}
.navbar-nav { width: 100%; } 
	.navbar-collapse { width: 100%; overflow-y: hidden; border: nnone; box-shadow: none;}
	.header .nav li a { padding: 8px 4px;}
	.top-destination, .related-deals {
   padding: 30px 20px 20px 20px;
}
.footer { text-align: center;}
.currency-wrapper div  { margin: 0 auto;}
.featured .holder li { width: 150px; display: inline-block;
    margin: 0 auto;}
}