* {
	outline: none !important;
}
ul, ol, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
a:hover, a:focus {
	outline: none;
}
.clear {
	clear: both;
}
body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
img, iframe {
	max-width: 100%;
	height: auto;
}
video {
	max-width: 100%;
	height: auto;
}
embed, object {
	max-width: 100%;
}
.no-margin {
	margin: 0 !important;
}
.header {
	z-index: 999;
	position: relative;
	border-bottom: 1px solid #e8e8e8;
	-webkit-box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3);
	/* position: absolute; */
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	border: none;
}
.header.affix {
	width: 100%;
	z-index: 99;
	border-bottom: none;
	top: 0;
	left: 0;
	position: fixed;
	background-color: #ffffff;
}
.header .navbar {
	background: #711b7d;
	margin-bottom: 0;
	border: none;
	border-bottom: 5px solid #7cd239;
}
.header .navbar-brand {
	height: auto;
	font-weight: 300;
	color: #ffffff !important;
	padding: 0 15px;
	letter-spacing: -1px;
}
.header .navbar-brand span.img {
	display: inline-block;
	width: 78px;
	margin-right: 15px;
	vertical-align: middle;
}
.header .navbar-brand span.logo-text {
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	/* font-weight: bold; */
	font-size: 27px;
	line-height: 29px;
	font-family: 'Oswald', sans-serif;
}
.header .navbar-brand span.logo-text span {
	display: block;
	font-size: 29px;
	margin-top: 4px;
}
.navbar-nav {
}
.header .nav li a {
	font-size: 12px;
	line-height: 25px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	padding: 29px 20px;
}
.header .nav li.search-icon a {
	font-size: 25px;
}
.header .nav li a:hover {
	color: #7cd239;
}
.header .nav li {/* border-right: 1px solid #d8d5d5; */
}
.header .nav li:first-child {
/* border-left: 1px solid #d8d5d5; */
}
.dropdown-menu {
	min-width: 220px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 0;
	margin: 0;
	background-color: #7cd239;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
	border: 1px solid #6bb532;
	z-index: 101;
}
.header .nav li .dropdown-menu li a {
	padding: 8px 20px;
	font-size: 12px;
	color: #ffffff;
	border-bottom: 1px solid #6cb731;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}
/* second level menu items on focus/hover and when opened */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .dropdown-menu .menu > .active > a, .dropdown-menu .menu > .active > a:hover, .dropdown-menu .menu > .active > a:focus {
	background-color: #711b7d;
	color: #e84c3d;
	border-color: #842192;
}
/* third level menu */
.dropdown-menu .dropdown-menu {
	top: -1px;
	left: 100% !important;
	padding-top: 0;
	margin-left: 1px;
	border-left: none;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
	border-top: 1px solid #f1f1f1;
}
/* mega menu */
.mega-menu.dropdown {
	position: static;
}
.mega-menu .dropdown-menu {
	left: 0;
	top: 96%;
	width: 100%;
	padding: 20px 30px;
	border: none;
	box-shadow: none;
	background-color: #f1f1f1;
}
/* mega menu menu items */
.mega-menu .menu {
	list-style: none;
	padding: 0;
	margin: 0;
}
.mega-menu h4.title {
	margin: 10px 0 5px;
	font-size: 14px;
	text-transform: uppercase;
}
header .nav li.mega-menu .dropdown-menu li h4 a {
	padding: 5px 0;
	font-size: 12px;
	color: #3c3c3c;
	border-bottom: 1px solid #f1f1f1;
	display: block;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}
.mega-menu .menu > li > a i, .dropdown-menu > li > a i {
	padding-right: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.mega-menu .menu > li:last-child > a {
	border-bottom: none;
}
.mega-menu .menu > li > a:hover i, .dropdown-menu > li > a:hover i {
	padding-left: 5px;
}
/* mega menu menu items on focus/hover and when opened */
.mega-menu .menu > li > a:hover, .mega-menu .menu > li > a:focus {
	background-color: #ffffff;
	color: #e84c3d;
	border-color: #f1f1f1;
	text-decoration: none;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: transparent;
	color: #7cd239;
}
/*#search {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
	opacity: 0;
}
#search.open {
	-webkit-transform: translate(0px, 0px) scale(1, 1);
	-moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1);
	opacity: 1;
	z-index: 9999;
}
#search input[type="search"] {
	position: absolute;
	top: 50%;
	width: 100%;
	color: rgb(255, 255, 255);
	background: rgba(0, 0, 0, 0);
	font-size: 60px;
	font-weight: 300;
	text-align: center;
	border: 0px;
	margin: 0px auto;
	margin-top: -51px;
	padding-left: 30px;
	padding-right: 30px;
	outline: none;
}
#search .btn {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 61px;
	margin-left: -45px;
}
#search .close {
	position: fixed;
	top: 15px;
	right: 15px;
	color: #fff;
	background-color: #db0416;
	border-color: #580209;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}*/
.banner {
	
}
.form-frame {
	top: 0;
	left: 0;
	width: 100%;
}
.banner .container {
	padding: 0;
}
.form {
}
.form-text {
	margin-bottom: 17px;
}
.form-text strong {
	font: 300 30px/36px 'Open Sans', sans-serif;
	color: #ffffff;
	display: block;
	line-height: 50px;
}
.form-text strong a {
	font-weight: 600;
	color: #ffe339;
	text-decoration: underline;
}
.form-text strong a:hover {
	text-decoration: none;
}
.form-text span {
	font: 300 26px/31px 'Open Sans', sans-serif;
	color: #fff;
	margin: 0 17px 0 0;
}
.form-text span a {
	color: #fff;
	text-decoration: underline;
}
.form-text span a:hover {
	text-decoration: none;
}
.select-box .sbHolder {
	width: 100%;
	background: #fff;
	height: 45px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	margin: 0 0 10px;
	border: none;
	padding-right: 45px;
	float: left;
	border: 0;
	padding-left: 10px;
	font: 600 20px/24px 'Open Sans', sans-serif;
	color: #999;
}
.select-box .sbToggle {
}
.select-box .sbToggle:before {
	content: "\e638";
	font-family: 'Pe-icon-7-stroke';
	display: block;
	font-size: 30px;
	color: #444e54;
	position: absolute;
	top: 50%;
	right: 6px;
	margin-top: -5px;
}
.deal-box .sbToggle:before {
	content: "\e60c";
}
.select-box .sbSelector {
	height: 45px;
	width: 100%;
	line-height: 45px;
}
.select-box .sbSelector:link, .select-box .sbSelector:visited, .select-box .sbSelector:hover {
	color: #999;
	font: 600 20px/45px 'Open Sans', sans-serif;
}
.select-box .sbOptions {
	width: 100%;
	background-color: #fff;
	border: none;
	left: 0;
	margin-top: 3px;
}
.select-box .sbOptions a {
	border-bottom: solid 1px #ccc;
}
.select-box .sbOptions a:hover, .select-box .sbOptions a:focus, .select-box .sbOptions a.sbFocus {
	color: #999;
}
.search-form .input-wrap {
/*background:#fff;
	height:45px;
	box-shadow:0 3px 0 rgba(0, 0, 0, 0.1);
	margin:0 0 10px;*/
}
.search-form .input-wrap .text {
	height: 45px;
	width: 100%;
	padding-right: 45px;
	margin: 0;
	float: left;
	border: 0;
	padding-left: 10px;
	font: 600 20px/24px 'Open Sans', sans-serif;
	color: #999;
	background: #fff url(../img/bg-location.png) no-repeat 98% 50%;
}
.search-form .input-date {
	margin: 0 0 10px;
}
.search-form .input-date span {
	font: 600 20px/24px 'Open Sans', sans-serif;
	color: #fff;
	margin: 0 7px 4px 0;
	display: block;
}
.search-form .input-date .date {
	background: #fff;
	width: 209px;
	height: 45px;
	font: 600 20px/24px 'Open Sans', sans-serif;
	color: #999;
	border: 0;
	padding-left: 10px;
	padding-right: 45px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	margin: 0 10px 0 0;
}
.search-form .input-date .date.from {
	background: #fff url(../img/bg-depart.png) no-repeat 98% 50%;
}
.search-form .input-date .date.to {
	background: #fff url(../img/bg-arrive.png) no-repeat 98% 50%;
}
.search-form .input-wrap .select {
	height: 45px;
	width: 100%;
	padding-right: 45px;
	margin: 0;
	float: left;
	border: 0;
	padding-left: 10px;
	font: 600 20px/24px 'Open Sans', sans-serif;
	color: #999;
	background: #fff url(../img/bg-select.png) no-repeat 98% 50%;
}
.search-form .search {
	background: #db0416 url(../img/arrow.png) 90% 50% no-repeat;
	font: 600 20px/26px 'Open Sans', sans-serif;
	border: none;
	color: #fff;
	padding: 11px 80px 11px 10px;
	margin: 0;
	float: left;
}
.main {
	overflow: hidden;
	padding: 20px 0;
}
.main.inner {
	background: #efefef;
	padding: 0;
}
.main > .container {
	padding: 0;
}
.main .breadcrumb {
	background: #bfbfbf;
	padding-left: 0;
	border-radius: 0;
	padding: 10px 15px;
	margin-bottom: 15px;
}
.main .breadcrumb > li + li:before {
	color: #906596;
}
.main .breadcrumb li {
	color: #711b7d;
}
.main .breadcrumb li:first-child {
}
.main .breadcrumb li a {
	font-size: 14px;
	line-height: 15px;
	color: #fff6f6;
	font-family: 'Open Sans', sans-serif;
}
.slideshow {
	position: relative;
}
.slide img {
	width: 100%;
}
.slide {
	position: relative;
}
/*.slide:after {
	width: 0;
	height: 0;
	border-bottom: 12px solid #fff;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	bottom: 0;
	left: 50px;
	content: '';
}*/
.slide-description {
	background: #fff;
	font-size: 20px;
	line-height: 24px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	color: #999;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 5px solid #711b7d;
	padding: 10px 40px 10px 30px;
}
.slide-description .add-info {
	font-size: 14px;
	line-height: 41px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	color: #999;
	margin: 0;
	float: right;
}
.add-info .country-name {
	background: url(../img/icon1.png) no-repeat 0px 3px;
	padding: 0 0 5px 22px;
	margin: 0 15px 0 0;
	background-size: 17px;
}
.add-info .country-name a {
	color: #999;
}
.add-info .country-name a:hover {
	text-decoration: none;
}
.add-info .time {
	background: url(../img/icon-time.png) no-repeat 0px 3px;
	padding: 0 0 5px 22px;
	background-size: 17px;
}
.slide-description strong {
	font-size: 32px;
	line-height: 38px;
	color: #000;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	display: block;
	margin: 0 0 5px;
}
.ad-block {
	background: #fff;
	font-size: 14px;
	line-height: 17px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #999;
	text-transform: uppercase;
	box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}
.ad-block-holder {
	max-width: 270px;
	margin: 0 auto;
	padding: 70px 0 60px;
}
.social-icons {
	padding: 20px 0 20px;
}
.social-share {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.social-share li {
	background: url(../img/social-icons.png) no-repeat;
	width: 66px;
	height: 70px;
	text-indent: -9999px;
	overflow: hidden;
	float: left;
}
.social-share li a {
	display: block;
	height: 100%;
}
.social-share li.facebook1 {
	background-position: -1px 0;
}
.social-share li.twitter1 {
	background-position: -68px 0;
}
.social-share li.linkedin1 {
	background: url(../img/linkedin.png) no-repeat 0px 1px;
}
.social-share li.gpluse1 {
	background-position: -135px 0;
}
.social-share li.pintrest1 {
	background-position: -202px 0;
}
.offer-block {
	background: #33cc33;
	padding: 40px 0 33px;
	font-size: 20px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	color: #196619;
	font-weight: 400;
}
.offer-block .text-center span {
	font-size: 50px;
	line-height: 58px;
	color: #99e699;
	text-decoration: line-through;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300px;
}
.offer-block .text-center strong {
	font-size: 50px;
	line-height: 58px;
	font-weight: 800;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
.top-block {
	margin-bottom: 15px;
}
.article {
	background: #fff;
	margin-bottom: 26px;
}
.article-post {
	border-bottom: 1px solid #ccc;
}
.article-post p {
	line-height: 21px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 15px;
}
.article-post h2 {
	margin: 0;
	font-size: 25px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	color: #7cd239;
	font-weight: 300;
	padding: 15px 0 15px 27px;
	border-bottom: 1px solid #f9f8f8;
}
.article-post h2 strong {
	font-weight: 600
}
.detail {
	padding: 30px 30px;
	color: #000;
	font: 400 14px/17px 'Open Sans', sans-serif;
}
.article-heading {
	margin: 0 0 20px;
}
.detail strong {
	font-size: 14px;
	line-height: 17px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	display: block;
	font-weight: 800;
}
.detail .link {
	font-size: 14px;
	line-height: 17px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-weight: 400;
	text-decoration: underline;
}
.detail .link:hover {
	text-decoration: none;
}
.article-post img {
	width: 100%;
}
.article-post.last {
	border-bottom: 0;
}
.related-deals {
	margin-bottom: 23px;
}
.related-deals .row {
	margin-bottom: 15px;
}
.related-deals .navbar-toggle {
	background: #000;
}
.related-deals .navbar-toggle .icon-bar {
	background: #fff;
}
.related-deals .navbar-toggle:hover, .related-deals .navbar-toggle:hover {
	background: #333;
}
.related-deals h2 {
	font: 300 24px/36px 'Open Sans', sans-serif;
	color: #444e54;
	margin: 0 0 13px;
	display: inline-block;
}
.related-deals h2 a {
	font-weight: 600;
	text-decoration: underline;
	color: #444e54;
}
.top-destination, .related-deals {
	margin-bottom: 23px;
	padding: 30px 0 0 0;
}
.top-destination .row {
	margin-bottom: 15px;
}
.top-destination .navbar-toggle {
	background: #000;
}
.top-destination .navbar-toggle .icon-bar {
	background: #fff;
}
.top-destination .navbar-toggle:hover {
	background: #333;
}
.top-destination h2 {
	font: 300 24px/36px 'Open Sans', sans-serif;
	color: #444e54;
	margin: 0 0 13px;
	display: inline-block;
}
.top-destination h2 u {
	font-weight: 600;
}
.top-destination h2 a {
	font-weight: 600;
	text-decoration: underline;
	color: #444e54;
}
.top-destination h2 a:hover {
	text-decoration: none;
}
.top-destination .deal-post {
	border-bottom: 5px solid #ccc;
}
.deal-description .destination-info strong {
	font: 300 18px/24px 'Open Sans', sans-serif;
	color: #000;
	display: block;
}
.deal-description .destination-info strong a {
	font-weight: 600;
	color: #000;
	text-decoration: underline;
}
.deal-description .destination-info strong a:hover {
	text-decoration: none;
}
.deal-description .destination-info span {
	font: 300 14px/17px 'Open Sans', sans-serif;
	color: #999;
}
.main .nav li a {
	padding-left: 14px;
	padding-right: 14px;
	font: 600 14px/17px 'Open Sans', sans-serif;
	color: #444e54;/* text-transform: uppercase; */
}
.main .nav-pills li.active a, .main .nav-pills li a:hover, .main .nav li a:hover {
	background-color: transparent;
	color: #7cd239;
	border-radius: 0;
}
.main .nav li a:hover {
	text-decoration: none;/* background: none; */
}
.deal-post {
	margin: 0 0 15px;
	overflow: hidden;
	cursor: pointer;
}
.related-deals h2 a:hover {
	text-decoration: none;
}
.hotel {
	border-bottom: 5px solid #1aa8ad;
}
.flight {
	border-bottom: 5px solid #d94b4e;
}
.activities {
	border-bottom: 5px solid #f4d411;
}
.deal-post .img-holder {
	position: relative;
	min-height: 150px;
}
.deal-post .img-holder .btn {
	background-color: #7cd239;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 30px;
	color: #fff;
	border-radius: 0;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
	font-size: 12px;
	margin-top: -15px;
	margin-left: -50px;
}
.deal-post .img-holder img {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.deal-post:hover .img-holder img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.deal-post .img-holder .btn-wrapper {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	left: -100px;
	opacity: 0;
	visibility: hidden;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.deal-post:hover .img-holder .btn-wrapper {
	left: 0;
	opacity: 1;
	visibility: visible;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.deal-post .img-holder .hotel-tag {
	position: absolute;
	top: 15px;
	left: 0;
	background: #1aa8ad;
	font: 400 12px/15px 'Open Sans', sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding: 6px 10px 5px 20px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
}
.flight-tag {
	background: #d94b4e;
	position: absolute;
	top: 15px;
	left: 0;
	font: 400 12px/15px 'Open Sans', sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding: 6px 10px 5px 20px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
}
.activities-tag {
	background: #f4d411;
	position: absolute;
	top: 15px;
	left: 0;
	font: 400 12px/15px 'Open Sans', sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding: 6px 10px 5px 20px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
}
.deal-description {
	background: #fff;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 15px 17px;
	font: 300 13px/22px 'Open Sans', sans-serif;
	color: #666;
	min-height: 100px;
	position: relative;
}
.deal-description:before {
	content: "";
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #fff;
	position: absolute;
	top: -11px;
}
.deal-description .place {
	display: block;
	font: 300 12px/15px 'Open Sans', sans-serif;
	color: #999;
	margin: 0 0 4px;
}
.deal-description a {
	text-decoration: none;
}
.deal-description strong {
	font: bold 14px/17px 'Open Sans', sans-serif;
	color: #000;
	padding: 0;
	display: block;
	margin-bottom: 10px;
}
.cost {
	font: 700 34px/7px 'Open Sans', sans-serif;
	color: #66cc33;
	display: block;
	width: 100%;
	text-align: right;
}
.cost .discount {
	font: 300 16px/17px 'Open Sans', sans-serif;
	color: #999;
	display: inline-block;
}
.deal-description .row {
	margin-bottom: 5px;
}
.deal-description p{
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; /* number of lines to show *//* fallback */
}
.deal-description p + p { display: none;}
.work-process {
	margin: 60px 0 60px;
}
.work-process h3 {
	margin: 0 0 25px;
	font: 300 30px/36px 'Open Sans', sans-serif;
	color: #999;
	text-align: center;
}
.step {
	padding: 20px 24px 20px 122px;
	margin: 0 0 10px;
}
.text-wrap {
	font: 300 14px/17px 'Open Sans', sans-serif;
	color: #999;
}
.step .text-wrap strong {
	font: 800 26px/31px 'Open Sans', sans-serif;
	color: #999;
}
.step .text-wrap span {
	font: 600 25px/31px 'Open Sans', sans-serif;
	color: #999;
	display: block;
	margin: 0 0 15px;
}
.step .text-wrap strong {
	font: 800 26px/31px 'Open Sans', sans-serif;
	color: #999;
}
.step.first {
	background: url(../img/bg-step-1.png) no-repeat 30px 50%;
}
.step.first:hover {
	background: url(../img/bg-hover-1.png) no-repeat 28px 50%;
	cursor: default;
	border: 2px solid #1c8daf;
	border-radius: 5px;
	padding: 18px 22px 18px 120px;
}
.step.second:hover {
	background: url(../img/bg-hover-2.png) no-repeat 18px 50%;
	cursor: default;
	border: 2px solid #1c8daf;
	border-radius: 5px;
	padding: 18px 22px 18px 120px;
}
.step.second {
	background: url(../img/bg-2.png) no-repeat 20px 50%;
}
.step.third:hover {
	background: url(../img/bg-hover-3.png) no-repeat 18px 50%;
	cursor: default;
	border: 2px solid #1c8daf;
	border-radius: 5px;
	padding: 18px 22px 18px 120px;
}
.step.third {
	background: url(../img/bg-3.png) no-repeat 20px 50%;
}
.step.first:hover .text-wrap strong, .step.first:hover .text-wrap span, .step.second:hover .text-wrap strong, .step.second:hover .text-wrap span, .step.third:hover .text-wrap strong, .step.third:hover .text-wrap span {
	color: #1c8daf;
}
.featured {
/* margin-bottom: 190px; */
}
.featured .holder {
	display: table;
	margin: 0 0 20px;
	width: 100%;
	text-align: center;
}
.featured .holder li {
	display: inline-block;
	list-style: none;
	width: 165px;
	vertical-align: middle;
}
.featured .holder li a {
	display: block;
	padding: 15px 35px;
}
.featured .holder li a img {
	-webkit-filter: grayscale(100%) brightness(135%) contrast(120%);
	filter: grayscale(100%) brightness(135%) contrast(120%);
	transition: filter 0.3s, box-shadow 0.3s;
	-webkit-transition: filter 0.3s, -webkit-filter 0.3s, box-shadow 0.3s;
}
.featured .holder li:hover a img {
	-webkit-filter: none;
	filter: none;
}
.featured h3 {
	margin: 0 0 50px;
	font: 300 30px/36px 'Open Sans', sans-serif;
	color: #999;
	text-align: center;
}
.sidebar {
	min-height: 1320px;
	background: #000;
	color: #fff;
	font: 600 30px/36px 'Open Sans', sans-serif;
	padding-top: 280px;
}
.footer {
	background: #22272a;
}
footer {
	padding: 30px 0;
}
footer .footer-content {
	border-right: 1px solid #383c3e;
}
footer .footer-content .footer-logo {
	margin-bottom: 23px;
}
footer .footer-content .footer-logo img {
	float: left;
	width: 55px;
	margin-right: 14px;
}
footer .footer-content p {
	color: #ffffff;
	font-size: 12px;
	margin-top: 13px;
}
footer .footer-content .links {
	display: block;
	color: #fff;
	font-weight: bold;
	margin: 10px 0;
}
footer .footer-content p.copyright {
	font-size: 13px;
	margin-bottom: 28px;
}
footer .footer-content p span {
	color: #fc5157;
}
footer h4 {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: bold;
}
footer ul {
}
footer ul li {
	list-style: none;
	display: block;
	margin-bottom: 10px;
	font-size: 13px;
}
footer ul li a, footer ul li {
	color: #ffffff;
	font-size: 14px;
}
footer ul li a:hover {
	color: #5ec2f2;
}
footer ul.social-links {
}
footer ul.social-links li {
	display: inline-block;
}
footer ul.social-links li a {
	font-size: 17px;
	margin-right: 18px;
}
/*Edited by Purnima*/
.title-bar {
	padding: 10px 0;
	border-bottom: 1px solid #444e54;
}
.title-bar h2 {
	font-size: 36px;
	font-weight: 600;
	color: #444e54;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
}
.title-bar p, .title-bar p a {
	font-size: 16px;
	color: #999;
	font-family: 'Open Sans', sans-serif;
}
.title-bar p a {
	text-decoration: underline;
}
.title-bar .icon-tag, .title-bar .palcename {
	display: inline-block;
}
.side-text {
	float: left;
}
.side-text p {
	font-size: 18px;
}
.side-text p a {
	font-weight: 600;
}
.title-bar .left-side {
	padding: 16px 25px 16px 0px;
	border-right: 1px solid #ccc;
}
.interfece .left-side {
	padding: 16px 25px 43px 0px;
}
.title-bar .right-side {
	padding: 16px 25px 16px 0px;
}
.left-sidebar .date-wrap {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 );
	border: 1px solid #444e54;
	border-bottom: 4px solid #444e54;
}
.left-sidebar .date-wrap h3 {
	display: block;
	text-align: left;
	background-color: #444e54;
	color: #fff;
	border: 1px solid #444e54;
	font-size: 22px;
	line-height: 20px;
	padding: 10px 35px;
	font-weight: 300;
}
.date-form label {
	display: block;
	font-size: 16px;
	color: #444e54;
	font-weight: normal;
}
.date-form input {
	display: inline-block;
	width: 116px;
	height: 35px;
	border: 1px solid #d6d6d6;
	border-bottom: 3px solid #d6d6d6;
	color: #444e54;
	font-size: 16px;
	font-weight: 600;
	padding: 0 10px;
}
.date-form input:first-child {
	margin-left: 0;
}
.date-form {
	padding: 8px 20px 8px 36px;
}
.date-form span {
	padding: 0 15px;
	color: #999;
	font-size: 16px;
}
.ui-widget-content {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 );
	border: 1px solid #aaaaaa;
	color: #222222;
	width: 220px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border-top-left-radius: 4px;
}
.ui-datepicker .ui-datepicker-title, .ui-datepicker th, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}
.ui-datepicker th {
	font-size: 12px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url(img/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
}
.right-side-content div[class*="col-"] {
	padding: 0 10px 0 14px;
}
.right-side-content {
	padding-top: 13px;
}
.service-list {
	margin: 10px 0;
}
.service-list p {
	font-size: 16px;
	color: #444e54;
}
.service-list p span {
	font-size: 12px;
	color: #999;
	padding: 0;
}
.service-list ul {
	margin-top: 10px;
}
.service-list ul li {
	list-style: none;
	float: left;
	background-color: #444e54;
	padding: 3px 9px 5px 8px;
	margin: 4px 9px 4px 0;
}
.service-list ul li.grey-btn {
	background-color: #999999;
}
.service-list ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}
.service-list ul li span {
	background-color: #fff;
	font-weight: 600;
	font-size: 12px;
	border-radius: 4px;
	padding: 1px 9px;
	margin-left: 6px;
}
.service-list .btn {
	width: 95%;
	border: none;
	border-radius: 0;
	font-size: 16px;
	margin: 19px 0 7px 0;
	background-color: #66cc33;
	padding: 9px;
}
.left-sidebar .left-bottom {
	margin: 30px 0;
}
.left-sidebar .left-bottom h2 {
	font-weight: 300;
	font-size: 22px;
}
.left-sidebar .left-bottom .social-share {
	margin: 20px 10px;
}
.left-bottom #newsearch {
	margin-top: 18px;
	position: relative;
}
.left-bottom .textinput {
	margin: 0;
	padding: 7px 15px;
	font-size: 18px;
	border: 1px solid #cccccc;
	width: 100%;
	border-bottom: 3px solid #ccc;
}
.left-bottom .search-button {
	margin: 0;
	padding: 7px 29px;
	font-size: 18px;
	font-weight: 600;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background: #444e54;
	border: none;
	position: absolute;
	top: 1px;
	right: 0;
}
.left-bottom .search-button:hover {
	text-decoration: none;
	background: #585e61;
}
	/* Fixes submit button height problem in Firefox */
	.left-bottom .search-button::-moz-focus-inner {
 border: 0;
}
.pagetop {
	background: #f8f8f8;
	padding: 27px 0px 27px;
	position: relative;
	width: 100%;
}
.pagetop h2 {
	font-weight: bold;
}
ol.breadcrumb {
	margin: 6px 0 0 0;
	padding: 0;
	background-color: transparent;
}
ol.breadcrumb li {
}
ol.breadcrumb li a {
	color: #333;
}
.page-title {
	margin: 25px 0;
}
.page-title i {
	display: inline-block;
	font-size: 45px;
	vertical-align: middle;
	margin-right: 11px;
	background: -webkit-linear-gradient(#db0416, #2a2fa7);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.page-title h3 {
	display: inline-block;
	font-size: 30px;
	vertical-align: middle;
	font-weight: 300;
}
.content-box {
	padding-bottom: 50px;
}
.content-box p {
	color: #6d6e6f;
	font-size: 13px;
	line-height: 27px;
}
.mt0 {
	margin-top: 0;
}
blockquote {
	border-left: 5px solid #848488;
	color: #6d6e6f;
	font-size: 13px;
	line-height: 27px;
}
.contact-page {
}
.contact-page form {
}
.contact-page form .form-group {
}
.contact-page form .form-group label {
	text-align: left;
}
.contact-page form .form-group .inner-input {
	position: relative;
}
.contact-page form .form-group i {
	position: absolute;
	top: 50%;
	right: 25px;
	font-size: 26px;
	margin-top: -13px;
}
.contact-page form .form-control {
	margin-bottom: 0;
	border: 1px solid #dee0e1;
	box-shadow: none;
	height: 49px;
	font-size: 13px;
	color: #8c8d92;
}
.contact-page form textarea.form-control {
	height: auto;
}
.contact-page form .btn {
	font-size: 11px;
	text-transform: uppercase;
	padding: 17px 40px;
	background-color: #db0416;
	border-radius: 30px;
	border: none;
	color: #fff;
	margin-right: 15px;
	-webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
}
.contact-address {
}
.contact-address ul {
}
.contact-address ul li {
	list-style: none;
	display: block;
	position: relative;
	margin: 10px 0;
	color: #333;
	font-size: 18px;
}
.contact-address ul li i {/* position: absolute; *//* top: 0; *//* left: 0; */
	width: 70px;
	height: 70px;
	line-height: 70px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #313131;
	border-radius: 50%;
	text-align: center;
	font-size: 30px;
	margin-right: 13px;
}
.contact-address ul li a {
	text-decoration: none;
	color: #333;
}
.map-canvas iframe {
	height: 700px;
}
.trip-list {
	margin-top: 30px;
}
.trip-list h2, .activities h2 {
	font-weight: 300;
	margin: 0 0 15px;
	font-family: 'Oswald', sans-serif;
	font-size: 27px;
}
.trip-list h2 b, .activities h2 span {
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
}
.trip {
	margin-bottom: 15px;
	position: relative;
	cursor: pointer;
}
.trip .image-wrapper {
	position: relative;
	max-height: 144px;
	overflow: hidden;/* z-index: 1; */
}
.trip .image-wrapper img {
}
.trip .image-wrapper a.btn {
	position: absolute;
	top: 15px;
	padding: 9px 15px;
	width: auto;
	font-size: 13px;
	left: 0;
	border-radius: 0;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
}
.trip .image-wrapper a.btn:before {
}
.trip .image-wrapper a.btn:after {
}
.trip .caption {
	background-color: #fff;
	padding: 15px 20px;
	position: relative;
}
.trip .caption:before {
	content: "";
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	display: block;
	position: absolute;
	top: -10px;
	left: 30px;
}
.trip .caption h4 {
	margin-bottom: 5px;
}
.trip .caption h4 a {
	font-weight: 600;
	display: block;
	text-decoration: none;
	color: #333;
	font-size: 15px;
}
.trip .caption p {
	font-size: 13px;
}
.trip .caption p span {
	display: block;
}
.trip .caption p span b {
	margin-right: 10px;
}
.trip .caption p span + span {
}
/*==================================================
 * Effect 2
 * ===============================================*/
.effect2 {
	position: relative;
	z-index: 999;
}
.effect2:before, .effect2:after {
	z-index: -9999;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	box-shadow: 0 15px 10px #777;
	transform: rotate(-3deg);
}
.effect2:after {
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}
.page-wrapper .table {
	margin-top: 20px;
}
.page-wrapper .table h3 {
	margin: 0;
	font-size: 18px;
}
.primary-section {
}
.primary-section ul {
}
.primary-section ul li {
	list-style: none;
	margin: 0 0 15px 0;
}
.primary-section ul li a {
	border: 7px solid #fff;
	display: block;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.19);
	-ms-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.19);
	-o-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.19);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.19);
}
.page-wrapper p {
	font-size: 13px;
	line-height: 26px;
	margin-bottom: 10px;
}
.carousel-inner > .item {
	position: relative;
}
.carousel-caption {
}
.carousel-control.right, .carousel-control.left {
	background-image: none;
}
.tab-wrap {
	max-width: 399px;
	border-radius: 5px;
	overflow: hidden;
}
.tab-wrap .nav-tabs {
	border-bottom: none;
	background-color: #711b7d;
}
.tab-wrap .tab-content {
	background-color: rgba(113, 27, 125, 0.86);
	/* padding: 20px; */
	border-top: none;
}
.tab-wrap .tab-content .tab-content {
	background-color: transparent;
	padding: 0;
	border: none;
	border-radius: 0;
}
.tab-wrap .nav-tabs > li > a {
	color: #fff;
	text-transform: uppercase;
	padding: 10px 20px;
	margin: 0;
	border: none;
	font-weight: bold;
	border-radius: 0;
}
.tab-wrap .nav-tabs > li:last-child a {
	padding-right: 20px;
}
.tab-wrap .nav-tabs > li > a i {
	margin-right: 4px;
	font-size: 16px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .tab-wrap .nav-tabs > li > a:hover {
	background-color: #7cd239;
	border: none;
	color: #fff;
}
.tab-wrap .tab-content .nav-tabs {
	background-color: #711b7d;
	border-top: 1px solid #e8e8e8;
}
.tab-wrap .nav-tabs > li {
	margin-bottom: 0;
}
.tab-wrap .tab-content .nav-tabs > li {
	width: 50%;
}
.tab-wrap .tab-content .nav-tabs > li > a {
	color: #ffffff;
}
.tab-wrap .tab-content .nav-tabs > li.active > a, .tab-wrap .tab-content .nav-tabs > li.active > a:hover, .tab-wrap .tab-content .nav-tabs > li.active > a:focus, .tab-wrap .tab-content .nav-tabs > li > a:hover {
	background-color: #7cd239;
	color: #ffffff;
}
.form-wrapper {
	padding: 9px 20px 10px 20px;
}
.form-wrapper p.lead {
	color: #fff;
	font-size: 14px;
	padding-bottom: 9px;
	border-bottom: 1px solid #fff;
	margin-bottom: 0;
}
.form-wrapper {
}
.form-wrapper form {
}
.form-wrapper form .form-group {
	margin-bottom: 10px;
	position: relative;
}
.form-wrapper form .form-group .radio {
	display: inline-block;
	margin-right: 16px;
	width: 90px;
	padding-left: 0;
	margin-bottom: 0;
}
.form-wrapper form .form-group .radio label, .form-wrapper form .form-group label {
	color: #fff;
	font-weight: normal;
	display: block;
}
input[type="radio"] {
}
input[type="radio"]:not(old) {
	width : 2em;
	margin : 0;
	padding : 0;
	font-size : 1em;
	/* display: none; */
}
input[type="radio"]:not(old) + label {
	margin-left: 0;
}
input[type=radio ]:not(old) + label > span {
	display : inline-block;
	width: 12px;
	height: 12px;
	margin: -2px 5px 0 0px;
	border-radius: 50%;
	vertical-align: middle;
	background-color: #fff;
}
input[type=radio ]:not(old):checked + label > span {
	background-color: #fff;
	position: relative;
}
input[type=radio]:not(old):checked + label > span > span {
	display : block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: rgb(113, 27, 125);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -3px;
	margin-left: -3px;
}
.select2-container--default .select2-selection--single, .select2-container--open .select2-dropdown--above, .select2-container--default .select2-search--dropdown .select2-search__field, .form-wrapper form .form-group .form-control {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.select2-container--default .select2-selection--single, .form-wrapper form .form-group .form-control {
	height: 32px;
	border: 1px solid #aaa;
	border-radius: 4px;
	box-shadow: none;
	font-size: 12px;
}
.form-wrapper form .form-group textarea.form-control {
	height: auto;
}
.select2-container {
	width: 100% !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	width: 30px;
	border-left: 1px solid #ccc;
	height: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 30px;
	font-size: 12px;
	color: #888;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option[aria-selected=true] {
	background-color: #711b7d;
	color: #fff;
}
.select2-container--default .select2-results>.select2-results__options {
	overflow-y: scroll;
	border-radius: 4px;
}
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 .select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
 width: 8px;
 border-radius: 5px;
}
 .select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
 background-color: #aaa;
}
.ui-datepicker .ui-datepicker-header {
	overflow: hidden;
	background-color: #711b7d;
	color: #fff;
	border: none;
}
.ui-widget-header .ui-icon {
	background-image: url(../img/ui-icons_ffffff_256x240.png);
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #d383de;
	background: #debde2 url(img/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
}
.ui-datepicker th {
	color: #711b7d;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	margin-top: -11px;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: #d2479a;
}
.ui-datepicker .ui-datepicker-next-hover, .ui-datepicker .ui-datepicker-next {
	right: 0;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover, .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	top: 0;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-prev {
	left: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl, .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-radius: 0;
}
.form-wrapper form .form-group i {
	position: absolute;
	top: 33px;
	right: 25px;
	color: #888;
}
.form-wrapper form button {
	background-color: #7cd239;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 4px;
}
.form-wrapper form button:hover {
	background-color: #c837dc;
	color: #fff;
}
.search-form .form-group {
	float: right !important;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	width: 0px;
	height: 37px;
	background-color: #fff;
	margin-top: 30px;
	margin-left: 30px;
	border-radius: 25px;/* border: 1px solid #711b7d; */
}
.search-form .form-group input.form-control {
	padding-right: 20px;
	border: 0 none;
	background: transparent;
	box-shadow: none;
	display: block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
 display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {

  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
 display: none;
}
.search-form .form-group:hover, .search-form .form-group.hover {
	width: 100%;
	border-radius: 25px 25px 25px 25px;
	border: 1px solid #ccc;
	height: 37px;
}
.search-form .form-group span.form-control-feedback {
	position: absolute;
	top: -1px;
	right: -2px;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #711b7d;
	left: initial;
	font-size: 14px;
	cursor: pointer;
}
.top-header {
	background-color: #711b7d;
	padding: 10px;
}
.top-header ul {
	display: inline-block;
}
.top-header ul li {
	display: inline-block;
	color: #ffffff;
	margin-right: 15px;
	font-size: 13px;
	position: relative;
}
.top-header ul li + li:before {
	content: "";
	width: 1px;
	height: 10px;
	background: #fff;
	display: block;
	position: absolute;
	top: 50%;
	left: -10px;
	margin-top: -5px;
}
.top-header ul li i {
	margin-right: 5px;
	color: #fff;
}
.top-header ul li a {
	color: #fff;
	display: inline-block;
	text-decoration: none;
}
.top-header ul.social-link {
}
.top-header ul.social-link li a {
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin-right: 0;
}
.top-header ul li a:hover {
	color: #7cd239;
}
.top-header ul.header-right {
}
.top-header ul.header-right li {
	margin: 0;
}
.top-header ul.header-right li + li:before {
	background: none;
	width: auto;
	height: auto;
}
.top-header ul.header-right li a {
	background-color: #7cd239;
	color: #fff;
	padding: 5px 15px 5px 15px;
	text-transform: uppercase;
	font-size: 11px;
	border-radius: 3px;
	margin-left: 4px;
}
.top-header ul.header-right li.login a {
	background-color: #e8e8e8;
	color: #711b7d;
}
.top-header ul.header-right li a:hover,
 .top-header ul.social-link li a:hover {
	/*background-color: #fff;*/
	color: #711b7d;
}
.adsbanner {
	margin-top: 20px;
}
.mt100 {
	margin-top: 78px;
}
.adsbanner img {
	margin: 0 auto;
	display: block;
}
.image-box {
	margin: 10px 20px 20px 0;
	background-color: #fff;
	position: relative;
}
.image-box:before, .image-box:after {
	content: "";
	width: 200px;
	height: 50px;
	position: absolute;
	top: 204px;
	-moz-box-shadow: 0px 0px 15px 15px #BDBDBD;
	-webkit-box-shadow: 0px 0px 15px 15px #BDBDBD;
	box-shadow: 0px 0px 15px 15px #BDBDBD;
	z-index: -1;
}
.image-box:before {
	left: 39px;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
}
.image-box:after {
	right: 39px;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	-o-transform: rotate(5deg);
}
.image-box-body {
	padding: 10px 15px;
}
.image-box-body h3 {
	margin-bottom: 15px;
}
.image-box-body h3 a {
	color: #000;
	font-size: 15px;
	text-decoration: none;
}
.image-box-body .btn-wrapper {
}
.image-box-body .btn-wrapper a {
	width: 50%;
	float: left;
	text-align: center;
	display: block;
	background-color: #909090;
	color: #fff;
	padding: 7px 10px;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
}
.image-box-body .btn-wrapper a + a {
	background-color: #53125d;
}
.image-box-body .btn-wrapper a span {
	margin-right: 6px;
}
.image-box-body .btn-wrapper a:hover {
	background-color: #7cd239;
}
.outbound h2 {
	margin-bottom: 0;
}
.sub-title {
	display: block;
	margin-bottom: 10px;
}
.extradiv .image-box {
	margin: 15px 0;
}
.extradiv .image-box:before, .extradiv .image-box:after {
	top: 116px;
}
.extradiv .image-box .overlay {
	background-color: rgba(0, 0, 0, 0.71);
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 10px 20px;
	text-align: center;
}
.extradiv .image-box .overlay h4 {
}
.extradiv .image-box .overlay h4 a {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
}
.extradiv .image-box .overlay h4 a:hover {
	color: #7cd239;
}
.view-btn {
	display: block;
	width: 100px;
	height: 30px;
	background-color: #7cd239;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	text-shadow: 1px 1px 1px #000;
	border-radius: 0;
	border: 1px solid #63ad2a;
	box-shadow: inset 0px 0px 0px 1px #59962a;
}
.tripadvisor {
	display: block;
	margin: 20px 0;
	width: 200px;
}
.holder li {
	display: inline-block;
	vertical-align: middle;
}
.holder li a {
	width: 70px;
	display: block;
}
.scrollToTop {
	background-color: #000000;
	border-radius: 50%;
	bottom: 5px;
	color: #fff;
	cursor: pointer;
	display: none;
	height: 50px;
	position: fixed;
	right: 5px;
	text-align: center;
	width: 50px;
	z-index: 1005;
}
.scrollToTop i {
	font-size: 24px;
	line-height: 50px;
}

@media (max-width: 767px) {
.scrollToTop {
	background-color: rgba(0, 0, 0, 0.4);
	height: 40px;
	width: 40px;
}
.scrollToTop i {
	font-size: 20px;
	line-height: 40px;
}
}
.testimonial-wrapper {
	background-color: #f7f7f7;
	padding-bottom: 20px;
}
.testimonial {
	max-width: 680px;
	margin: 0 auto;
}
.testimonial-body {
}
.testimonial-body p {
	position: relative;
}
.testimonial-body p:before, .testimonial-body p:after {
	content: "\f10d";
	font-family: FontAwesome;
	margin: 0 10px;
	font-size: 18px;
}
.testimonial-body p:after {
	content: "\f10e";
}
.testimonial-info-2 {
	font-weight: bold;
}
.itenary_list {
}
.itenary_list li {
	display: block;
	position: relative;
	list-style: none;
	padding-left: 70px;
	border-bottom: 1px solid #fff9f9;
	border-top: 1px solid #ececec;
	padding-top: 15px;
	padding-bottom: 15px;
}
.itenary_list li:first-child {
	border-top: none;
}
.itenary_list li:last-child {
	border-bottom: none;
}
.itenary_list b {
	position: absolute;
	top: 11px;
	left: 0;
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #080702;
}
.itenary_list h4 {
	font-weight: bold;
	font-size: 16px;
	margin: 0 0 10px 0;
}
.itenary_list p {
}
.itenary_list strong {
	display: block;
}
.panel-group .panel {
	border-radius: 0;
}
.article .panel-default > .panel-heading {
	padding: 15px 16px;
	background-color: #fff;
}
.article .panel-default > .panel-heading h4 {
}
.article .panel-default > .panel-heading h4 a {
	text-decoration: none;
	position: relative;
	display: block;
	font-size: 17px;
}
.article .panel-default > .panel-heading h4 a:after {
	content: "\f107";
	font-family: FontAwesome;
	position: absolute;
	top: 50%;
	right: -9px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin-top: -15px;
	text-align: center;
	background-color: #57b016;
	color: #fff;
}
.article .panel-default > .panel-heading h4 .collapsed:after {
	content: "\f106";
}
.article .panel-default > .panel-heading + .panel-collapse .panel-body p {
	line-height: 21px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 15px;
}
.article .panel-default > .panel-heading + .panel-collapse .panel-body h3 {
	font-family: 'Open Sans', sans-serif;
	margin: 10px 0;
}
 ul.list {
}
.article .panel-default > .panel-heading + .panel-collapse .panel-body ul.list li {
	list-style: none;
	display: block;
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;
}
.article .panel-body ul.list li:before, .article .panel-body ul.list li:after {
	content: "";
	position: absolute;
}
.article .panel-body ul.list li:before {
	width: 10px;
	height: 10px;
	background-color: #545353;
	display: block;
	border-radius: 3px;
	position: absolute;
	top: 4px;
	left: 0;
}
.article .panel-body ul.list li:after {
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #545353;
	left: 8px;
	top: 5px;
}
.facts-module .box {
	background: rgba(249, 249, 249, .8);
	box-shadow: inset 0 0 7px rgba(0, 0, 0, .12);
	padding: 10px 11px 5px;
}
.facts-module ul li {
	
position: relative;
	
list-style: none;
	
padding-left: 35%;
	
line-height: 22px;
	
border: 1px solid #e6e6e6;
	
margin-bottom: 10px;
	
padding: 10px 10px 10px 35%;
	
color: #737373;
}

.facts-module ul li b {
	
width: 30%;
	
height: 100%;
	
position: absolute;
	
top: 0;
	
left: 15px;
	
border-right: 1px solid #e6e6e6;
	
vertical-align: middle;
	
justify-content: center;
	
flex-direction: column;
	
display: flex;
	
color: #525252;
}
.facts-module ul li b:before {
	
}

.facts-module ul li .text {
	display: block;
	position: relative;
	padding-right: 100px;
}
.facts-module ul li .text a {
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
	border-bottom: 1px solid #005496;
}
.facts-module ul li .text a:hover {
	border-bottom: 1px solid transparent;
}
.facts-module ul li .text [class^="icon-"] {
	margin-right: 5px;
}
.icon-facts:before {
	content: "\e918";
}
.modal.in .modal-dialog .modal-content {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 400px;
}
	/* Let's get this party started */
.modal.in .modal-dialog .modal-content::-webkit-scrollbar {
 width: 12px;
}
 
/* Track */
.modal.in .modal-dialog .modal-content::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 -webkit-border-radius: 10px;
 border-radius: 10px;
}
 
/* Handle */
.modal.in .modal-dialog .modal-content::-webkit-scrollbar-thumb {
 -webkit-border-radius: 10px;
 border-radius: 10px;
 background: rgba(48,113,169,0.8);
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.modal.in .modal-dialog .modal-content::-webkit-scrollbar-thumb:window-inactive {
 background: rgba(48,113,169,0.4);
}
.grade {
	border-bottom: 1px solid #ccc;
}
.grade:last-child {
	border-bottom: none;
}
.grade h3 {
	font-weight: bold;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 10px;
}
.carousel-caption {
	font-size: 14px;
	line-height: 20px;
	background: rgba(124, 210, 57, 0.75);
	color: #ffffff;
	padding: 30px 15px;
	max-width: 470px;
	position: absolute;
	left: 10%;
	bottom: 60px;
	height: 200px;
	overflow: hidden;
}

.carousel-caption h3 {
	font: 700 34px / 34px "Roboto", sans-serif;
	display: block;
	color: #fff;
	margin-bottom: 10px;
}

.carousel-caption p {
	margin: 0;
}