/*-------------------------------------------------------------------
	Page styles
-------------------------------------------------------------------*/


#weather {
width: auto;

}
/*-------------------------------------------------------------------
	MetCast styles
-------------------------------------------------------------------*/


#metCast-icon {
width: 94px;
height: 63px;
background: transparent url(../img/sun.png) no-repeat;
float: right;
}
#metCast-text {
width: 70px;
float: left;
height: 55px;
overflow: hidden;
padding: 0 12px 0 0;
text-align: right;
}
#metCast-text p {
margin: 0;
color: #444e54;
font-size: 40px;
font-weight: 300;
font-family: 'Open Sans', sans-serif;
line-height: normal;
}
#metCast-text p.Temp{
display: block;
}
/*---- Weather Sprite Icon Co-ordinates -----*/

#metCast-icon.sunny {
background-position: 0 0;
}

#metCast-icon.snow {
background-position: -564px 0;
}
